<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script data-main="./webresource/config.js" type="text/javascript" src="./webresource/3rd/require.js"></script>
    <style type="text/css">
    [v-cloak] {
      display: none;
    }
    </style>

</head>
<body>


hello

</body>
</html>
